/* custom css parent */
#header.full-header #primary-menu > ul { 
    border-right-color: transparent;
}

.captcha-input {
    display: block;
    width: 190px;
    padding: 5px;
    margin-top: 10px;
}


#logo img {
    object-fit: contain;
}
